@import "variables.scss";

$h-spotify-logo: 120px;
$h-menu-options: 150px;

:host {
  max-width: 300px;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: $branco;
  box-shadow: 1px 0px 15px $preto-transparent-03;

  .menus {
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    padding: 0px 40px;

    .img-container {
      min-height: $h-spotify-logo;

      img {
        width: 70%;
      }
    }

    .menu-container {
      width: 100%;
      gap: 15px;
      flex-direction: column;

      &.options {
        min-height: $h-menu-options;
      }
    }

    .playlist-title {
      margin: 25px 0px 5px 0px;
      align-self: flex-start;
      font-weight: 700;
      font-size: .7rem;
      color: $preto-transparent-30;
    }

    .playlist-scroll {
      flex-direction: column;
      width: 100%;
      gap: 15px;
      max-height: 50vh;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}