@import "variables.scss";

$h-spotify-logo: 120px;
$h-menu-options: 150px;

:host {
  max-width: 300px;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: $branco;
  box-shadow: 1px 0px 15px $preto-transparent-03;

  .menus {
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    padding: 0px 40px;

    .img-container {
      min-height: $h-spotify-logo;

      img {
        width: 70%;
      }
    }

    .menu-container {
      width: 100%;
      gap: 20px;

      &.options {
        flex-direction: column;
        min-height: $h-menu-options;
      }
    }
  }
}